.hero-section {
    background-color: aquamarine;
    background-image: url("img/hero-bg-2.jpg");
    background-position: center;
    background-size: cover;
  }

  .navy{
    background-color: #0e3982;
  }